
#start{
    background-color: purple;
    color: white
}
#start:hover{
    color: yellow;
    cursor: pointer;
}



header{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

header .link{
    margin-left: 70px;
}

header .timer{
margin-right: 70px;

}



.main {
    height: 100px;
    width: 800px;
    margin:auto;

    margin-bottom: 250px;
    text-align: center;
    padding: 2 00px 0;


}

.main ol {
    text-align: left;
}

.main li:hover {
    cursor: pointer;
    color: blue;

}